.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
 


  .mainpage {
    margin: 3%;
    position: relative;
}
.portraits-carousel{
  margin: 0 auto;
}
  .border {
    background-color: white;
}

.how-to {
  padding: 50px;
}

.how-to-card {
  width: 350px;
  height: 275px;
  background-color: bisque;
}

.how-to-icon {
  background-color: white;
  width: 100px;
  height: 100px;
}



